.home-about-right-content img {
    width: 28rem;
    border-radius: 10px;
}

.home-about-content {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    color: #1a3e58;
    align-items: center;
    gap: 2rem;
}

.home-about-left-content p {
    font-size: 1.1em;
}

.home-about-left-content {
    width: 80vw;
    line-height: 1.7rem;
}

.home-about-left-content h2 {
    margin-top: 1rem;
}

@media screen and (max-width:700px) {
    .home-about-content {
        flex-direction: column-reverse;
        padding: 2rem;
        align-items: center;
    }
}


@media screen and (max-width:420px) {
    .home-about-right-content img {
        width: 90vw;
    }
}